<div class="container">
    <div class="page-header">
        <h1><?php echo $this->translate('The Blog') ?></h1>
    </div>
    <p class="lead"><?php if ($post->getAuthor() instanceof \MxmUser\Model\UserInterface) {
            ?><a href="<?php echo $this->url('listPostsByUser',
            array('action' => 'listPostsByUser', 'id' => $post->getAuthor()->getId(), 'page' => '1')); ?>">
            <?php echo $this->escapeHtml($post->getAuthor()->getUserName()); ?></a>
        <?php } ?>
        <?php if ($post->getPublished() instanceof \DateTimeInterface) {
            echo $this->formatDateI18n($post->getPublished());
        } ?>
    </p>
    <div class="row">
        <div class="col-sm-8">
            <div>
                <h2><?php echo $this->escapeHtml($post->getTitle()); ?></h2>

                <p>
                    <?php echo $this->translate('Category'); ?>: <?php if ($post->getCategory() instanceof \MxmBlog\Model\CategoryInterface) {
                        echo $this->escapeHtml($post->getCategory()->getTitle());
                    } ?>
                </p>
                <p>
                    <?php echo $this->translate('Published'); ?>: <?php if ($post->getIsPublished()) {
                        echo $this->translate('Yes');
                    } else {
                        echo $this->translate('No');
                    } ?>
                </p>
                <p>
                    <?php echo $this->htmlPurifier($post->getText()); ?>
                </p>
                <hr>
                <p>
                    <?php echo $this->translate('Tags'); ?>: <?php if ($post->getTags() instanceof \Zend\Tag\ItemList) { ?>
                    <?php $tags = $this->post->getTags();
                    foreach ($tags as $tag): ?>
                        <?php echo $this->escapeHtml($tag->getTitle());?>
                    <?php endforeach; } ?>
                </p>
            </div>
            <?php if ($this->isGranted('edit.post', $post)): ?>
                <a role="button" class="btn btn-default" href="<?php echo $this->url('editPost', ['action' => 'editPost', 'id' => $post->getId()]); ?>"><?php echo $this->translate('Edit') ?></a>
            <?php endif; ?>
            <?php if ($this->isGranted('delete.post', $post)): ?>
                <a role="button" class="btn btn-default" href="<?php echo $this->url('deletePost', ['action' => 'deletePost', 'id' => $post->getId()]); ?>"><?php echo $this->translate('Delete') ?></a>
            <?php endif; ?>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            <div class="list-group">
                <a class="list-group-item" href="<?php echo $this->url('listCategories',
                    array('action' => 'listCategories')); ?>"><?php echo $this->translate('Categories') ?></a>
                <a class="list-group-item" href="<?php echo $this->url('listTags',
                    array('action' => 'listTags')); ?>"><?php echo $this->translate('Tags') ?></a>
            </div>
            <div class="sidebar-module">
                <?php echo $this->partial('partial/listArchivePanel.phtml'); ?>
            </div>
        </div>
    </div>
</div>