<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <?php echo $this->navigation('Zend\Navigation\adminSidebar')->menu()->setUlClass("nav nav-sidebar"); ?>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><?php echo $this->translate('Dashboard'); ?></h1>
            <h2 class="sub-header"><?php echo $this->translate('General information'); ?></h2>
            <div class="row placeholders">
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of users: '); ?>
                    <a href="<?php echo $this->url('listUsers', ['action' => 'listUsers']); ?>"><?php echo $this->escapeHtml($allUsers->getTotalItemCount()); ?></a>
                    </span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of administrators: '); ?>
                        <a href="<?php echo $this->url('listUsersByRole', ['action' => 'listUsersByRole', 'role' => 'admin']); ?>"><?php echo $this->escapeHtml($admins->getTotalItemCount()); ?></a>
                    </span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of moderators: '); ?>
                        <a href="<?php echo $this->url('listUsersByRole', ['action' => 'listUsersByRole', 'role' => 'moderator']); ?>"><?php echo $this->escapeHtml($moderators->getTotalItemCount()); ?></a>
                    </span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of authors: '); ?>
                        <a href="<?php echo $this->url('listUsersByRole', ['action' => 'listUsersByRole', 'role' => 'author']); ?>"><?php echo $this->escapeHtml($authors->getTotalItemCount()); ?></a>
                    </span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of users: '); ?>
                        <a href="<?php echo $this->url('listUsersByRole', ['action' => 'listUsersByRole', 'role' => 'user']); ?>"><?php echo $this->escapeHtml($users->getTotalItemCount()); ?></a>
                    </span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of files: ');
                    echo $this->escapeHtml($files->getTotalItemCount()); ?></span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of clients: ');
                    echo $this->escapeHtml($clients->getTotalItemCount()); ?></span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of posts: ');
                    echo $this->escapeHtml($posts->getTotalItemCount()); ?></span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of categories: ');
                    echo $this->escapeHtml($categories->getTotalItemCount()); ?></span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of tags: ');
                    echo $this->escapeHtml($tags->getTotalItemCount()); ?></span>
                </p>
                <p>
                    <span class="text-muted"><?php echo $this->translate('The total number of logs: ');
                    echo $this->escapeHtml($logs->getTotalItemCount()); ?></span>
                </p>

          </div>
        </div>
    </div>
</div>