<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <?php echo $this->navigation('Zend\Navigation\adminSidebar')->menu()->setUlClass("nav nav-sidebar"); ?>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><?php echo $this->translate('Dashboard'); ?></h1>
            <h2 class="sub-header"><?php echo $this->translate('Files');
            echo ' (' . $this->escapeHtml($this->files->getTotalItemCount()) . ')'; ?></h2>
            <form action="<?php echo $this->url('manageFiles', array(), true) ?>" method="post">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Mark'); ?></th>
                                <th><?php echo $this->translate('Filename'); ?></th>
                                <th><?php echo $this->translate('Uploaded'); ?></th>
                                <th><?php echo $this->translate('Description'); ?></th>
				<th><?php echo $this->translate('Owner'); ?></th>
                                <th><?php echo $this->translate('Client'); ?></th>
                                <th><?php echo $this->translate('Download'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $i = 0;
                            foreach ($this->files as $file): ?>
                                <tr>
                                    <td><input type="checkbox" name="checkbox[<?php echo $i; ?>]" value='<?php echo $this->escapeHtml($file->getFileId()); ?>'></td>
                                    <td><?php echo $this->escapeHtml($file->getFilename()); ?></td>
                                    <td><?php if ($file->getUploadDate() instanceof \DateTimeInterface) {
                                        echo $this->formatDateI18n($file->getUploadDate(), \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT);} ?></td>
                                    <td><?php echo $this->escapeHtml($file->getDescription()); ?></td>
                                    <td><?php if ($file->getOwner() instanceof \MxmUser\Model\UserInterface) {
                                        echo $this->escapeHtml($file->getOwner()->getUsername());} ?></td>
                                     <td><?php if ($file->getClient() instanceof \MxmApi\Model\ClientInterface) {
                                        echo $this->escapeHtml($file->getClient()->getClientId()) ;} ?></td>
                                    <td><a href="<?php echo $this->url('downloadFileById', ['action' => 'downloadFileById', 'id' => $this->escapeHtml($file->getFileId())]); ?>"><?php echo $this->translate('Download'); ?></a></td>
                                </tr>
                            <?php $i++;
                            endforeach; ?>
                        </tbody>
                    </table>
                    <input type="submit" class='btn btn-default' name="action" value="<?php echo $this->translate('Delete'); ?>">
                </div>
            </form>
        </div>
    </div>
    <div class="container">
    <?php echo $this->paginationControl($this->files,
        'Sliding',
        'partial/paginator.phtml',
        array('route' => $this->route)); ?>
    </div>
</div>
