<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <?php echo $this->navigation('Zend\Navigation\adminSidebar')->menu()->setUlClass("nav nav-sidebar"); ?>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><?php echo $this->translate('Dashboard'); ?></h1>
            <h2 class="sub-header"><?php echo $this->translate('Categories');
            echo ' (' . $this->escapeHtml($this->categories->getTotalItemCount()) . ')'; ?></h2>
            <form action="<?php echo $this->url('manageCategories', array(), true) ?>" method="post">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Mark'); ?></th>
                                <th><?php echo $this->translate('ID'); ?></th>
                                <th><?php echo $this->translate('Title'); ?></th>
                                <th><?php echo $this->translate('Description'); ?></th>
                                <th><?php echo $this->translate('Edit'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $i = 0;
                            foreach ($this->categories as $category): ?>
                                <tr>
                                    <td><input type="checkbox" name="checkbox[<?php echo $i; ?>]" value='<?php echo $this->escapeHtml($category->getId()); ?>'></td>
                                    <td><?php echo $this->escapeHtml($category->getId()); ?></td>
                                    <td><?php echo $this->escapeHtml($category->getTitle()); ?></td>
                                    <td><?php echo $this->escapeHtml($category->getDescription()); ?></td>
                                    <td><a href="<?php echo $this->url('editCategory', array('action' => 'editCategory', 'id' => $category->getId())); ?>"><?php echo $this->translate('Edit'); ?></a>
                                        <a href="<?php echo $this->url('detailCategory', array('action' => 'detailCategory', 'id' => $category->getId())); ?>"><?php echo $this->translate('View'); ?></td>
                                </tr>
                            <?php $i++;
                            endforeach; ?>
                        </tbody>
                    </table>
                    <input type="submit" class='btn btn-default' name="action" value="<?php echo $this->translate('Delete'); ?>">
                </div>
            </form>
        </div>
    </div>
    <div class="container">
    <?php echo $this->paginationControl($this->categories,
        'Sliding',
        'partial/paginator.phtml',
        array('route' => $this->route)); ?>
    </div>
</div>
