<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <?php echo $this->navigation('Zend\Navigation\adminSidebar')->menu()->setUlClass("nav nav-sidebar"); ?>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header"><?php echo $this->translate('Dashboard'); ?></h1>
            <h2 class="sub-header"><?php echo $this->translate('Logs');
            echo ' (' . $this->escapeHtml($this->logs->getTotalItemCount()) . ')'; ?></h2>
            <form action="<?php echo $this->url('manageLogs', array(), true) ?>" method="post">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><?php echo $this->translate('Mark'); ?></th>
                                <th><?php echo $this->translate('Filename'); ?></th>
                                <th><?php echo $this->translate('Size'); ?></th>
                                <th><?php echo $this->translate('Date of change'); ?></th>
                                <th><?php echo $this->translate('Type'); ?></th>
                                <th><?php echo $this->translate('Download'); ?></th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $i = 0;
                            foreach ($this->logs as $log): ?>
                                <tr>
                                    <td><input type="checkbox" name="checkbox[<?php echo $i; ?>]" value='<?php echo $this->escapeHtml($log->getFilename()); ?>'></td>
                                    <td><?php echo $this->escapeHtml($log->getFilename()); ?></td>
                                    <td><?php echo $this->escapeHtml($log->getSize()); ?></td>
                                    <td><?php echo $this->formatDateI18n($log->getChangeDate(), \IntlDateFormatter::SHORT, \IntlDateFormatter::SHORT); ?></td>
                                    <td><?php echo $this->escapeHtml($log->getType()); ?></td>
                                    <td><a href="<?php echo $this->url('downloadFileFromDir', ['action' => 'downloadFileFromDir', 'dir' => 'logs', 'filename' => $this->escapeHtml($log->getFilename())]); ?>"><?php echo $this->translate('Download'); ?></a></td>
                                </tr>
                            <?php $i++;
                            endforeach; ?>
                        </tbody>
                    </table>
                    <input type="submit" class='btn btn-default' name="action" value="<?php echo $this->translate('Download'); ?>">
                    <input type="submit" class='btn btn-default' name="action" value="<?php echo $this->translate('Delete'); ?>">
                </div>
            </form>
        </div>
    </div>
    <div class="container">
    <?php echo $this->paginationControl($this->logs,
        'Sliding',
        'partial/paginator.phtml',
        array('route' => $this->route)); ?>
    </div>
</div>
