<div class="container">
    <div class="page-header">
        <h1><a href="<?php echo $this->url('listGames', ['action' => 'listGames']); ?>"><?php echo $this->translate('Games') ?></a></h1>
    </div>
    <p class="lead">

    </p>
    <div class="row">
        <div class="col-sm-8">
            <div>
                <h2><?php echo $this->escapeHtml($game->getTitle()); ?></h2>
                
                <div>
                    <canvas id = "map" style = "border: ridge;"></canvas>
                </div>
                <div>
                    <canvas id = "3DView" style = "border: ridge;"></canvas>
                </div>
                <?php $this->headScript()->setAllowArbitraryAttributes(true);
                    echo $this->headScript()->prependFile($this->basePath('js/p3D2/public_html/lib/require.js'), null, ['data-main' => 'http://blog-note3/js/p3D2/public_html/app.js']);
                ?>
                <?php //echo $this->headScript()->prependFile($this->basePath('js/p3D.js')); ?>
                <p>
                    <?php echo $this->translate('Description'); ?>: <?php echo $this->escapeHtml($game->getDescription()); ?>
                </p>
                <p>
                    <?php echo $this->translate('Uploaded'); ?>: <?php if ($game->getUploadDate() instanceof \DateTimeInterface) {
                    echo $this->formatDateI18n($game->getUploadDate());
                } ?>
                </p>

            </div>
        </div>
    </div>
</div>