<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-12 col-sm-9">
            <p class="pull-right visible-xs">
                <button data-toggle="offcanvas" class="btn btn-primary btn-xs" type="button"><?php echo $this->translate('Toggle nav') ?></button>
            </p>
            <div class="jumbotron">
                
            </div>
            <?php $countColumns = 3;
            $countGames = $this->games->getCurrentItemCount();
            $iterator = $this->games->getIterator();
            if ($countGames):
                for ($i = 0; $i < $countGames; $i = $i + $countColumns ): ?>
                    <div class="row">
                        <?php for ($j = 0; $j < $countColumns; $j++):
                            if ($iterator->valid()): ?>
                                <div class="col-xs-12 col-md-4">
                                    <div class="div-1">
                                        <?php $game = $iterator->current();
                                        $iterator->next(); ?>
                                        <h1><a href="<?php echo $this->url('detailGame',
                                            array('action' => 'detailGame', 'id' => $game->getGameId())); ?>">
                                            <?php echo $this->escapeHtml($game->getTitle()); ?></a>
                                        </h1>
                                        <p>
                                            <?php echo $this->htmlPurifier($game->getDescription()); ?>
                                        </p>
                                    </div>
                                    <p><a role="button" href="<?php echo $this->url('detailGame',
                                        array('action' => 'detailGame', 'id' => $game->getGameId())); ?>" class="btn btn-default"><?php echo $this->translate('View details') ?></a>
                                    </p>
                                </div>
                            <?php endif;
                        endfor; ?>
                    </div>
                <?php endfor;
            endif; ?>
        </div>

    </div>
    <?php echo $this->paginationControl($this->games,
        'Sliding',
        'partial/paginator.phtml',
        array('route' => $route)); ?>
</div>


